body{
    background-color: #181818;
    color: white;
}

nav{
    background-color: #5F3473;
}  

h1, h2{
    color: #5F3473;
}

p{
    text-align: justify;
}

h1, h2, p, table{
    text-align: center;
}

html, body{
    overflow-x: hidden;
}

th, li{
    cursor: pointer;
}

.pl{
    padding-bottom: 2px;
    padding-top: 2px;
}

.perPage{
    width: 70px;
}
